<ion-view title="Create User" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="createUser-form3" class="list ">
            <div class="spacer" style="height: 40px;"></div>
            <ion-list id="createUser-list5" class=" ">
                <label class="item item-input " id="createUser-input3">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="createUser-input4">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <label class="item item-select " id="createUser-select3">
                <span class="input-label">Blood Group</span>
                <select>
                    <option>Group A</option>
                    <option>Group B</option>
                    <option>Group AB</option>
                    <option>Group O</option>
                </select>
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="createUser-button5" class=" button button-stable  button-block ">Create</a>
        </form>
    </ion-content>
</ion-view>