<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="list card " id="home-card22">
            <ion-item class="item-thumbnail-left  " id="home-list-item9">
                <img src="img/CY1ka1g9Qhi6cg1o1857_10299136_650394668362881_7047276451530079508_n.jpg">
                <h2>Ythalo Rossy</h2>
                <p>Fortaleza, Ce, Brazil</p>
								<p>{{token}}</p>
            </ion-item>
            <ion-item class="item-icon-left  " id="home-list-item11" ui-sref="menu.mapOfDonors">
                <i class="icon ion-map"></i>Map of Donors
						</ion-item>
            <ion-item class="item-icon-left  " id="home-list-item10" ui-sref="menu.messages">
                <i class="icon ion-android-textsms"></i>Messages
						</ion-item>
        </div>
    </ion-content>
</ion-view>
