<ion-view title="Map of Donors" id="page4" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">

			<div class="card" ng-show="loadingMap">
				<div class="item item-text-wrap">
					<i class="icon ion-load-a"></i> Loading...
				</div>
			</div>

			<div class="card" ng-show="error">
				<div class="item item-text-wrap">
					<div><i class="icon ion-ios-information-outline"></i> {{msgError}}</div>
				</div>
			</div>


			<div id="map" data-tap-disabled="true" ng-show="!loadingMap"></div>

    </ion-content>
</ion-view>
