<ion-view title="Sequences" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="sequences-heading2" style="color:#000000;text-align:center;" class=" ">zhù zài</h1>
        <div class="">
            <img src="img/IoFgwxxUQNiNbWAORw3M_How-Are-You-Now.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="sequences-heading3" style="color:#000000;text-align:center;" class=" ">? Rio</h1>
    </ion-content>
</ion-view>