<ion-view title="Messages" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="messages-list6" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="messages-list-item20" ui-sref="menu.userDetail">
                <img src="img/HGIRqSoOQxSXkCBSh6hF_10299136_650394668362881_7047276451530079508_n.jpg">
                <h2>Ythalo Rossy</h2>
                <p>Yes, I can donate</p>
                <i class="icon ion-waterdrop icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar  " id="messages-list-item23" ui-sref="menu.userDetail">
                <img src="img/Eh9Lk5KfR9GmoUaGskEU_shutterstock_106628186.jpg">
                <h2>Maria</h2>
                <p>Not yet</p>
            </ion-item>
            <ion-item class="item-avatar  " id="messages-list-item24" ui-sref="menu.userDetail">
                <h2>Joao</h2>
                <p>Yes, I can donate</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>