<ion-view title="User Detail" id="page7" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="list card " id="userDetail-card25">
            <ion-item class="item-thumbnail-left  " id="userDetail-list-item17">
                <img src="img/ssOLf9v0RCch47txjtAw_10299136_650394668362881_7047276451530079508_n.jpg">
                <h2>{{donor.firstname}} {{donor.lastname}}</h2>
                <p>Group A</p>
            </ion-item>
            <div class="item item-body " id="userDetail-list-item-container5">
                <p id="userDetail-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="userDetail-list-item18">
                <i class="icon ion-android-time"></i>Lastest Donation
                <span class="item-note">{{donor.lastDonation | date:"dd/MM/yyyy"}}</span>
            </ion-item>
            <ion-item class="item-icon-left assertive  " id="userDetail-list-item19">
                <i class="icon ion-android-favorite-outline"></i>Enable to Donate
                <span class="item-note">{{enableToDonate ? 'Yes' : 'No'}}</span>
            </ion-item>
            <ion-item class="item-divider " id="userDetail-list-item-divider1"></ion-item>
            <button id="userDetail-button9" style="border-radius:1px 1px 1px 1px;" class=" button button-assertive  button-block ">Can you donate to me?</button>
        </div>
    </ion-content>
</ion-view>
